<div class="container">

<div class="cards">
<% @vans.each do |van| %>
<%= link_to van_path(van), class: "text-decoration-none text-black" do %>
  <div class="card-trip">
    <img src="https://imgs.search.brave.com/ortOLs67WtUYKbTLeloQKYWu_3LNAlgVEUOJGtX5Mlk/rs:fit:960:540:1/g:ce/aHR0cHM6Ly93d3cu/dmFubGlmZWFkdmVu/dHVyZS5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjAvMDYv/dmFubGlmZV93aXRo/X3BldHMtOTYweDU0/MC5qcGc" />
    <div class="card-trip-infos">
      <div>
      <h2><%= van.name%></h2>
      <p><%= van.make_model_year %></p>
      <p><%= van.overview %></p>
      </div>
      <p><strong>$<%= van.price %> / day</strong></p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
