<div class="container">
  <h1 class="mb-4 mt-3">Create a new van listing</h1>
  <div class="row">
    <div class="col-lg-6 mb-3">

      <%= simple_form_for(@van) do |f| %>
        <%= f.input :name, :label => "Van name:", required: false %>
        <%= f.input :overview, :label => "Description:", required: false %>
        <%= f.input :make_model_year, :label => "Brand, model and year:", required: false %>
        <%= f.input :address, :label => "Pickup Address" %>
        <%= f.input :kitchenette, as: :radio_buttons, :label => "Kitchenette:" %>
        <%= f.input :toilet, as: :radio_buttons, :label => "Toilet:" %>
        <%= f.input :solar_power, as: :radio_buttons, :label => "Solar power:" %>
        <%= f.input :price, :label => "Price per day ($):" %>
        <%= f.input :photo, as: :file, :label => "Picture:" %>

        <%= f.submit "Create van listing", class: "btn btn-flat" %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-5 m-3 rounded-img mr-5"><%= image_tag "van_life", width: 600, class: "rounded-5" %></div>
    </div>
    </div>
  </div>
</div>

 <%# <div class="col-lg-5 m-3 rounded"><%= cl_image_tag("qfy5coc75cmnvgqktxyh", width: 270, crop: :fill, :radius => 20) %>
