<div class="container">
  <h1 class="mb-4 mt-3">Create a new van listing</h1>
  <div class="row">
    <div class="col-lg-6">

      <%= simple_form_for(@van) do |f| %>
        <%= f.input :name, :label => "Van name:" %>
        <%= f.input :overview, :label => "Description:" %>
        <%= f.input :make_model_year, :label => "Brand, model and year:" %>
        <%= f.input :kitchenette, as: :radio_buttons, :label => "Kitchenette:" %>
        <%= f.input :toilet, as: :radio_buttons, :label => "Toilet:" %>
        <%= f.input :solar_power, as: :radio_buttons, :label => "Solar power:" %>
        <%= f.input :price, :label => "Price per day ($):" %>
        <%= f.input :photo, as: :file, :label => "Picture:" %>

        <%= f.submit "Create van listing", class: "btn btn-flat" %>

        <%# <%= link_to "Request to book", "#", class: "btn btn-flat" %>
        <%#= link_to "Add to bookmarks", "#", class: "btn btn-ghost" %>

      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-5 m-3 rounded"><%= cl_image_tag("qfy5coc75cmnvgqktxyh", width: 350, crop: :fill) %></div>
        <div class="col-lg-5 m-3 rounded"><%= cl_image_tag("qfy5coc75cmnvgqktxyh", width: 350, crop: :fill) %></div>
        <div class="col-lg-5 m-3 rounded"><%= cl_image_tag("qfy5coc75cmnvgqktxyh", width: 350, crop: :fill) %></div>
        <div class="col-lg-5 m-3 rounded"><%= cl_image_tag("qfy5coc75cmnvgqktxyh", width: 350, crop: :fill) %></div>
      </div>
    </div>

  </div>
</div>
