<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2><%= @van.name %></h2>
      <p><%= @van.make_model_year %></p>
      <p><%= "Kitchenette: " + @van.kitchenette.to_s %></p>
      <p><%= "Toilet: " + @van.toilet.to_s %></p>
      <p><%= "Solar power: " + @van.solar_power.to_s %></p>
      <p><%= "Price ($): " + @van.price.to_s %></p>
      <p><%= @van.overview %></p>
      <div class="bottom">
        <%= link_to "Request to book", "#", class: "btn btn-flat" %>
        <%= link_to "Return to listings", vans_path, class: "btn btn-ghost" %>
        <%= link_to "Add to bookmarks", "#", class: "btn btn-ghost" %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6"><%= image_tag "https://images.pexels.com/photos/3004666/pexels-photo-3004666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class:"img-thumbnail", width:300, height:300 %></div>
        <div class="col-lg-6"><%= image_tag "https://images.pexels.com/photos/1616259/pexels-photo-1616259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class:"img-thumbnail", width:300, height:300 %></div>
        <div class="col-lg-6"><%= image_tag "https://images.pexels.com/photos/1616262/pexels-photo-1616262.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class:"img-thumbnail", width:300, height:300 %></div>
        <div class="col-lg-6"><%= image_tag "https://images.pexels.com/photos/3651840/pexels-photo-3651840.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class:"img-thumbnail", width:300, height:300 %></div>
      </div>
    </div>
  </div>
</div>
