
<h1 class="mt-4"><strong>Your Bookings</strong></h1>
<div class="card-container">
  <h3>Pending Bookings</h3>
  <div class="cards-grid">
    <% @pending_bookings.each do |booking|  %>
      <div class="col">
        <div class="card-product">
          <%= cl_image_tag booking.van.photos.first.key, crop: :fill %>
          <div class="card-product-infos">
            <h3> <%= booking.van.name %></h3>
            <h4><%= booking.van.make_model_year %></h4>
            <a class="btn btn-gradient space-top btn-full-width" href="#">Accept</a>
            <a class="btn btn-ghost space-top my-2 btn-full-width" href="#">Reject</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card-container">
  <h3>Past Bookings</h3>
  <div class="cards-grid">
    <% @past_bookings.each do |booking|  %>
      <div class="col">
        <div class="card-product">
          <%= cl_image_tag booking.van.photos.first.key, crop: :fill %>
          <div class="card-product-infos">
            <h3> <%= booking.van.name %></h3>
            <h4><%= booking.van.make_model_year %></h4>
            <a class="btn btn-gradient space-top btn-full-width" href="#">Accept</a>
            <a class="btn btn-ghost space-top my-2 btn-full-width" href="#">Reject</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
