
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3796556/pexels-photo-3796556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1>Vans beggin you to disappear!</h1>
    <p>Rent a van, poop in a bucket</p>
    <div class="search-container">
      <%= simple_form_for :van, url: :vans do |f| %>
        <div class="d-flex">
        <%= f.input :location %>
        <%= f.input :depart, as: :date, html5: true %>
        <%= f.input :return, as: :date, html5: true %>
        <%= f.submit "search", class: 'btn btn-primary'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <p>© Vanish 2022</p>
  </div>
</div>
