
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://imgs.search.brave.com/QYH7u6B3B3Ylk7WfaxxVTWwfz7ydR4F1CEDE8S7zewU/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9tb3Zp/bmdyb292aW4uZGUv/d3AtY29udGVudC91/cGxvYWRzLzIwMTcv/MDgvMjAxNzA1MjYt/U3Bhbmllbi1GaXN0/ZXJyYS0wNzM2LU1h/bmR5LVJhYXNjaC5q/cGc);">
  <div class="container">
    <h1>Vans begging you to disappear !</h1>
    <p>
      <span data-controller="typed-js"></span>
    </p>
    <div class="search-container">
      <%= simple_form_for :van, url: vans_path, method: :get do |f| %>
        <div class="d-flex align-items-end space-evenly">
          <div class="p-2 bd-highlight flex-2">
          <%= f.input :location, required: false, input_html: { class: "add-border-radius"} ,wrapper_html: { class: "no-margin" } %>
          </div>
          <div class="p-2 bd-highlight flex-2">
            <%= f.input :depart, required: false, as: :date, html5: true , input_html: { class: "add-border-radius"} ,wrapper_html: { class: "no-margin" } %>
          </div>
          <div class="p-2 bd-highlight flex-2">
            <%= f.input :return, required: false, as: :date, html5: true , input_html: { class: "add-border-radius"} ,wrapper_html: { class: "no-margin" } %>
          </div>
          <div class="p-2 bd-highlight flex-2">
            <%= f.submit "search",class: 'btn btn-flat w-100'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
